h1  {
    font-size: 65px;
    color: orange;
    text-decoration: underline;
    font-family: sans-serif;
    background-color: whitesmoke;
    font-style: italic;
    line-height: 200px;
}

.paragrafo-lista-cores {
    background-color: grey;
}

#lista-cores {
    background-color: greenyellow;
}

p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600px;
    font-style: italic;
    line-height: 40px;
    text-align: center;
    font-size: 3em;
}

body {
    font-family: monospace;
    font-size: 16px;
    text-align: center;
    background-color: whitesmoke;
}